.edit-container {
  padding: 8px;
  background: #fff7ed;
  margin-top: 6px;
  border-radius: 8px;
  display: none;
}

.edit-container input {
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.edit-container button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}
